$primary-color: #7561fc;
$secondary-color: #704ad1;
$third-color: #ff8f9f;
$title-color: #333333;
$text-color: #999999;
$pink-dark-color: #ff7588;
$pink-light-color: #fff4f5;
$primary-font: 'Roboto', sans-serif;
$second-font: 'Poppins', sans-serif;
$wrapper: 1920px;
$container: 1200px;
 