secition.feature 
	.container 
		.feature-column
			.feature-content 
				img.feature-icon(src="../images/img_app.png")
				h3.feature-title Our App Features
				p.feature-desc Lorem ipsum dolor sit amet consectetur adipisicing elit.Beatae perspiciatis non culpa velit sit quos totam voluptatem error magnam consequuntur in veniam dolore autem adipisci.
				ul.feature-list 
					+featureItem("fa fa-bell","Instant Notifications","color: #ff7588; background-color:#fff4f5")
					+featureItem("fa fa-user","User Friendly","color: #a99cff; background-color:#f5f4ff")
					+featureItem("fa fa-thumbs-up","Secure & Reliable","color: #ff8c68; background-color:#fff6f3")
			img(src="../images/img_feature.png").feature-img
