footer.footer 
    .container 
        .footer-column 
            .footer-list 
                .footer-item 
                    i.fab.fa-facebook.footer-social
                    i.fab.fa-twitter.footer-social
                    i.fab.fa-youtube.footer-social
                    i.fab.fa-instagram.footer-social
                    i.fab.fa-pinterest.footer-social
                    i.fab.fa-dribbble.footer-social
                    i.fab.fa-behance.footer-social
            a(href="index.html").footer-logo LOGO
            .footer-copyright 2020 Copyrights & Protected