section.lucky 
    .container 
        h3.lucky-title Still Not Lucky?
        .lucky-desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio a mollitia, sequi ipsa perferendis itaque harum, deserunt nostrum, reprehenderit commodi alias! Laborum quam earum cupiditate placeat. 
        .lucky-button   
            a.lucky-link(href="#") Contact Us