section.number 
    .container 
        .number-list
            +numberItem("12M+","Downloads")
            +numberItem("18M+","Active Users")
            +numberItem("4.9","Ratings")
            +numberItem("300M+","Happy Clients")