section.option 
	.container 
		ul.option-list 
			+optionItem("../images/img_options_1.png","Awesome Design")
			+optionItem("../images/img_options_2.png","Easy to Edit")
			+optionItem("../images/img_options_3.png","Full Secured")
			

	