secition.app 
	.container 
		.app-column
			img(src="../images/img_perfectApp.png").app-img
			.app-content 
				img.app-icon(src="../images/img_app.png")
				h3.app-title We Designed Prefect App For You
				p.app-desc Lorem ipsum dolor sit amet consectetur adipisicing elit.Beatae perspiciatis non culpa velit sit quos totam voluptatem error magnam consequuntur in veniam dolore autem adipisci, nisi repellendus architecto debitis quia. 
				ul.app-list 
					li.app-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
					li.app-text Lorem ipsum dolor sit amet illum, ipsum, neque eum deleniti.
					li.app-text Lorem, officiis recusandae numquam, molestiae vero laborum.
				a(href="#").app-link Learn more
