section.question 
    .container 
        .question-column 
            .question-content 
                i.fa.fa-question.question-icon 
                h3.question-title Have any Question?
                p.question-desc Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga harum, quam quasi distinctio totam dolorum doloremque? Error ex assumenda nobis? Magnam quam in reprehenderit itaque, velit exercitationem placeat dolorum! Beatae!
                +questionItem("How I can install the App?")
                +questionItem("What is the Main Features of this App?")
                +questionItem("Is there any Video Sessions?")
            img(src="../images/img_question.png").question-img