extends layout/layout

block vars
	-title = 'Welcome to LOGO'
	-bodyClass = 'home-page'

block container
	include blocks/option
	include blocks/perfect_app
	include blocks/feature_app
	include blocks/next_way
	include blocks/question
	include blocks/number
	include blocks/lucky